/* ================ GOOGLE FONTS ================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ================ ROOT VARIABLES CSS ================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 3rem;

    /* ================ Colors ================ */
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /* ================ Font and typography ================ */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ================ Font weight ================ */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ================ Margins ================ */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* ================ z index ================ */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ================ base ================ */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}  
html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* ================ CLASS CSS ================ */


.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/* ================ nav ================ */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
}

.nav-item {
    margin-bottom: var(--mb-2);
}

.nav-link, .nav-logo, .nav-toggle{
    color: var(--text-color);
    font-weight: var(--font-medium);
}
.nav-logo span {
    font-weight: bold;
    color: var(--first-color);
}
.nav-logo:hover{
    color: var(--first-color);
}
.nav-link{
    transition: .3s;
}
.nav-link:hover{
    color: var(--first-color);
}
.nav-toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    top: var(--header-height);
}

/* Active menu */
.active-link{
    color: var(--first-color);
}
/* right side */
.right-side {
    display: flex;
}

/* search input */
.search-box {
    background: var(--body-color);
    box-shadow: 0 0px 4px rgb(0 0 0 / 10%);
    height: 40px;
    border-radius: 40px;
    display: flex;
    margin-right: 8px
}

.search-box-un {
    background: var(--body-color);
    box-shadow: 0 0px 4px rgb(0 0 0 / 10%);
    height: 40px;
    border-radius: 40px;
    display: flex;
    margin-right: 8px
}
.search-btn {
    color: var(--body-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding-left: 16px;
    color: #393939;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 150px;
}

.search-text-un {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #393939;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0;
}
.search-box:hover> .search-text {
    width: 150px;
    padding: 0 6px;
}
.search-box-un:hover> .search-text-un {
    width: 150px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: #393939;
}

.search-box-un:hover > .search-btn {
    background: #393939;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* ================ home section in header page ================ */
.home-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    display: grid;
    gap: 1.5rem;
    height: calc(100vh - var(--header-height));
    align-content: center;
    margin-top: 32px;
}

.home-title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home-subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}
.home-img {
    width: 300px;
    justify-self: center;
    border-radius: 50%;
    height: 300px;
}

/* ================ button ================ */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/* ================ countries section ================ */
.countries {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    margin-top: 32px;
}
.card-countries, .card-university{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    
}

.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
}

.div-img {
    position: relative;
    overflow: hidden;
    height: 150px;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 4px solid var(--first-color);
}
.card-img{
    width: 100%;
    height: 100%;
    align-self: center;
    margin-bottom: var(--mb-2);
    transition: transform 2s;
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-content:hover .card-img {
    transform: scale(1.2);
}

.details {
    padding: 0.75rem;
    font-size: var(--small-font-size);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: .3s;

}
a.webLink.button{
    width: 50px;
}
.card-name{
    font-size: var(--normal-font-size);
}

.card-button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}

.card-button i {
    font-size: 18px;
}

/* ================ start main university ================ */
.card-university .card-content {
    background-image: url(https://images.unsplash.com/photo-1621640786029-220e9ff8dd09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dW5pdmVyc2l0eSUyMGJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}
.card-university .overlay {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 58%);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name-university {
    color: #fff;
}
p.country-name {
    color: #fff;
    padding-top: 16px;
}
p.country-name span{
    color: #5bc19a;
    padding-left: 8px;
}

/* start footer  */
.footer {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.footer .footer-copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 576px) {
    .home {
        margin-top: 100px;
    }

    .search-text{
        width: 0;
        padding: 0;
    }

    .search-box:hover> .search-text {
        width: 150px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 576px){
    .home-container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }
    
    .section{
        padding-top: 8rem;
    }
    
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        margin: auto;
    }
    .nav-menu {
        background: none;
        top: 100%;
        box-shadow: none;
        position: unset;
    }
    .nav-list{
        display: flex;
        justify-content: flex-end;
        padding-right: 24px;
    }
    .nav-item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav-toggle{
        display: none;
    }

    
    .home-container {
        height: 100vh;
        justify-items: center;
        padding: 0 48px;
        margin: auto;
    }
    .card-countries, .card-university {
        margin-top: var(--mb-6);
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    section.countries {
        margin: auto;
    }

}

@media screen and (min-width: 960px) {
    .home__img{
        width: 500px;
    }
}

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}